# Common Functions
alias tree='tree -I node_modules'
alias l='lsd'
alias ls='lsd'
alias sl='lsd'
alias dc='cd'

# Source SSH aliases
if [ -f .ssh_aliases ]; then
  . .ssh_aliases
fi

# tmuxinator profile
alias personal='tmuxinator start personal'
alias spersonal='tmuxinator stop personal'
