# Common Functions
alias l='ls'
alias sl='ls'
alias dc='cd'
alias cdrive="cd ~/Documents/Parallels/Windows\ 7.pvm/Windows\ Disks/C"

# Source SSH aliases
if [ -f .ssh_aliases ]; then
  . .ssh_aliases
fi

# fasd Aliases
alias v='f -e vim'

# tmuxinator profile
alias personal='tmuxinator start personal'

# Git aliases
alias gst='git status --short --branch'
